@import url('https://fonts.googleapis.com/css?family=Anton');
body {
  background-color: #aaa;
}
.menu {
  list-style: none;
}
.menu2 {
  list-style: none;
  margin-top: -230px;
}
.menuli {
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
  color: white;
  font-size: 50px;
}
.menuli2 {
  display: inline;
  margin-left: 12px;
  margin-right: 12px;
  padding-left: 35px;
  color: white;
  font-size: 25px;
}
.container {
  font-family: 'Anton', sans-serif;
}
.head {
  margin-top: 50px;
}
.stopwatch {
  flex-direction: column;
  justify-content: center; /* Center the page horizontally */
  align-items: center; /* Center the page vertically */
  font-family: 'Lato', sans-serif;
}
.stopwatchleft {
  border-radius: ;
  margin-top: 80px;
  margin-left: 390px;
  float: left;
  width: 450px;
  height: 300px;
  background: #666;
}
.stopwatchright {
  border-radius: ;
  margin-top: 80px;
  margin-right: 390px;
  float: right;
  width: 450px;
  height: 300px;
  background: #666;
}
.content {
  margin-top: -65px;
}
.contentcounter {
  margin-top: 65px;
  padding-left: 120px;
}
.blauw {
  text-align: center;
  color: #0a0891;
}
.oranje {
  text-align: center;
  color: #d6821b;
}
.footer {
   position: absolute;
   margin-top: 400px;
   left: 39%;
   margin-left: -250px;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the page horizontally */
  align-items: center; /* Center the page vertically */
  font-family: 'Lato', sans-serif;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    height:80px;
    width:220px;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button:active {
    font-size: 35px;
}
.button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.button2:active {
    font-size: 15px;
}
