.body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the page horizontally */
  align-items: center; /* Center the page vertically */
  font-family: 'Lato', sans-serif;
}

#timer {
  font-size: 70px;
  margin-top: -25px;

}
